<div ng-show="showEntry(item)">
    {{item.title}} ({{item.subtitle}})
    <span class="entry_tools" ng-class="{'entry_edit': editMode == true}">
        <a class="icon" ng-repeat="tool in getTools(item)" ng-class="getToolsClasses(tool, item)" ng-click="useTool(tool, item)"></a>
    </span>
</div>

<form class="form form-entry" ng-controller="FormsController" ng-show="showEntryForm(item)">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Language" ng-model="activeForms['language'].title" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Level" ng-model="activeForms['language'].subtitle" />
    </div>
    <button class="btn btn-primary btn-sm" ng-click="formSend('language')">OK</button>
    <button class="btn btn-primary btn-sm" ng-click="formCancel('language')">Cancel</button>
</form>

<div class="clear"></div>
