<div class="entry_tools" ng-class="{ 'entry_edit': editMode == true }" ng-show="showEntry(item)">
    <ul>
        <li ng-repeat="tool in getTools(item)">
            <!-- <a class="icon" ng-class="getToolsClasses(tool, item)" ng-click="useTool(tool, item)"></a> -->
            <span class="glyphicon" ng-class="getToolsClasses(tool, item)" ng-click="useTool(tool, item)"></span>
        </li>
    </ul>
</div>
<div class="entry_body" ng-show="showEntry(item)">
    <div class="content">{{item.content}}</div>
</div>

<form class="form section_form raw form-entry" ng-controller="FormsController" ng-show="showEntryForm(item)">
    <div class="form-group">
        <textarea class="form-control" ng-model="activeForms[activeFormCategory].content"></textarea>
    </div>
    <button class="btn btn-primary btn-form btn-sm" ng-click="formSend(activeFormCategory)">OK</button>
    <button class="btn btn-primary btn-form btn-sm" ng-click="formCancel(activeFormCategory)">Cancel</button>
</form>
<div class="clear"></div>
