<div class="entry_tools" ng-class="{ 'entry_edit': editMode == true }" ng-show="showEntry(item)">
    <ul>
        <li ng-repeat="tool in getTools(item)">
            <a class="icon" ng-class="getToolsClasses(tool, item)" ng-click="useTool(tool, item)"></a>
        </li>
    </ul>
</div>
<div class="entry_body" ng-show="showEntry(item)">
    <div class="title">{{item.title}}</div>
    <div class="subtitle">{{item.subtitle}}</div>
    <div class="desc">{{item.content}}</div>
</div>

<form class="form section_form simple" ng-controller="FormsController" ng-show="showEntryForm(item)">
    <input class="input_title" type="text" placeholder="{{activeFormCategory == 'professional' ? 'Experience' : ''}}" ng-model="activeForms[activeFormCategory].title" />
    <input class="input_subtitle" type="text" placeholder="{{activeFormCategory == 'professional' ? 'Time period' : ''}}" ng-model="activeForms[activeFormCategory].subtitle" />
    <textarea class="input_content" placeholder="{{activeFormCategory == 'professional' ? 'Description' : ''}}" ng-model="activeForms[activeFormCategory].content"></textarea>
    <!-- <input type="submit" value="OK" /> -->
    <button ng-click="formSend(activeFormCategory)">OK</button>
    <button ng-click="formCancel(activeFormCategory)">Cancel</button>
</form>
<div class="clear"></div>
