<div class="entry_tools" ng-class="{ 'entry_edit': editMode == true }" ng-show="showEntry(item)">
    <ul>
        <li ng-repeat="tool in getTools(item)">
            <span ng-class="getToolsClasses(tool, item)" ng-click="useTool(tool, item)"></span>
        </li>
    </ul>
</div>
<div class="entry_body" ng-show="showEntry(item)">
    <img src="{{item.content}}" alt="{{item.title}}">
    <div class="text">
        <div class="title">{{item.title}}</div>
        <div class="subtitle">{{item.subtitle}}</div>
    </div>
</div>

<form class="form section_form simple form-entry" ng-controller="FormsController" ng-show="showEntryForm(item)">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="{{activeFormCategory == 'about' ? 'Title' : ''}}" ng-model="activeForms[activeFormCategory].title" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="{{activeFormCategory == 'about' ? 'Comment' : ''}}" ng-model="activeForms[activeFormCategory].subtitle" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="{{activeFormCategory == 'about' ? '...coming soon...' : ''}}" ng-model="activeForms[activeFormCategory].content" />
    </div>
    <button class="btn btn-primary btn-form btn-sm" ng-click="formSend(activeFormCategory)">OK</button>
    <button class="btn btn-primary btn-form btn-sm" ng-click="formCancel(activeFormCategory)">Cancel</button>
</form>
<div class="clear"></div>
