<div ng-show="showEntry(item)">
    {{item.title}}
    <span class="entry_tools" ng-class="{'entry_edit': editMode == true}">
        <a class="icon {{tool}}" ng-repeat="tool in getTools(item)" ng-class="getToolsClasses(tool, item)" ng-click="useTool(tool, item)"></a>
    </span>
</div>

<form class="form form-entry" ng-controller="FormsController" ng-show="showEntryForm(item)">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Skill" ng-model="activeForms['skill'].title" />
    </div>
    <button class="btn btn-primary btn-sm" ng-click="formSend('skill')">OK</button>
    <button class="btn btn-primary btn-sm" ng-click="formCancel('skill')">Cancel</button>
</form>

<div class="clear"></div>
