<div class="entry_tools" ng-class="{ 'entry_edit': editMode == true }" ng-show="showEntry(item)">
    <ul>
        <li ng-repeat="tool in getTools(item)">
            <span class="glyphicon" ng-class="getToolsClasses(tool, item)" ng-click="useTool(tool, item)"></span>
        </li>
    </ul>
</div>
<div class="entry_body" ng-show="showEntry(item)">
    <a class="oembed" href="{{item.content}}"></a>
</div>

<form class="form section_form simple form-entry" ng-controller="FormsController" ng-show="showEntryForm(item)">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="{{activeFormCategory == 'presentation' ? 'Video link, e.g.: http://www.youtube.com/watch?v=w0ffwDYo00Q)' : ''}}" ng-model="activeForms[activeFormCategory].content" />
    </div>
    <button class="btn btn-primary btn-form btn-sm" ng-click="temp(activeFormCategory)">OK</button>
    <button class="btn btn-primary btn-form btn-sm" ng-click="formCancel(activeFormCategory)">Cancel</button>
</form>
<div class="clear"></div>
